$primary-color: #34495e;
$primary-color-shadow: #2c3e50;
$secondary-color: #1abc9c;

html,
body,
main {
  height: 100%;
}

::selection {
  background: $primary-color;
  color: #fff;
}

// Jumbotrons 

/* edit the whole font of the website


.jumbotron p{
  margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
*/

.contact-info h2 {
  font-size: 15px; 
  font-weight: 50px;
   text-align: center;
/* Adjust title size */
}


.contact-info p {
  color: #34495e;
  
  font-size: 15px; 
  margin-bottom: 1px; 
    margin-top: 1px;
  text-align: center;
}

.contact-info .info-label {
  font-size: 15px;
   text-align: center;
  font-weight: bold; /* Make labels bold */
}




div#contact.jumbotron {
  color: #34495e;
  font-color: #34495e;
}



.jumbotron h2{

// Edit tittle if we need.
  
}

.jumbotron h1{
  
// Edit tittle if we need.
  
}




.jumbotron {
  // Stops gaps between jumbotrons
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-cover {
  background: #34495e url(https://images.pexels.com/photos/1477156/pexels-photo-1477156.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat center center / cover fixed;
  height: 100%;
  position: relative;
}


.background-primary {
  background: $primary-color;
}

.background-secondary {
  background: $primary-color-shadow;
}

.large {
  font-size: 4em;
}

.medium {
  font-size: 2em;
}

/* Header */

.transparent {
  background: transparent;
}

.navbar-inverse {
  transition: all 0.2s ease-in;
}
// Portfolio

.thumbnail {
  cursor: pointer;
  position: relative;
  display: flex;
}

.thumbnail-svg {
  flex: 1 0 auto;
  padding: .5em;
  max-height: 6em;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $secondary-color;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
  transition: all 0.2s ease-in;
}
// Projects Pages

.full-screen {
  background: #eee;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  // Avoids leaving portfolio screen stuck up
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}